:root{
    --gird-width:30px;
    --gird-height:30px;
    --line-color:#999;
    --dot-color:#ccc;
    --dot-size:2px;
    --point-gap-width:calc(var(--gird-width) * 4);
    --point-gap-height:calc(var(--gird-height) * 4);
  }
  html,body{
    padding:0;
    margin:0;
    width:100%;
    height: 100%;
  }
  .grid-bg{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .ba-grid{
    position: relative;
    z-index: 1;
    
    background-image: 
  /*     radial-gradient(ellipse at center, #2883b6 0%, #084688 100%), */
      radial-gradient(ellipse at bottom left, rgba(104,128,138,0.4) 10%, rgba(138,114,76,0) 40%),
      linear-gradient(to bottom, rgba(57,173,219,.25), rgba(42,60,87,0.4)),
      linear-gradient(135deg, #00ffc8, #cc00ff);
  }
  
  
  .ba-grid:before,
  .ba-grid:after,
  .inner:before,
  .inner:after{
    content:'';
    position: absolute;
    z-index: 1;
    top:0px;
    bottom:0;
    left:0;
    right:0;
    mix-blend-mode: overlay;
  }
  
  .ba-grid:before{
    background-image: 
      linear-gradient(var(--line-color), transparent 1px),
      linear-gradient(to right, var(--line-color), transparent 1px);
    background-size:
      100% var(--gird-height),
      var(--gird-width) 100%;
  }
  
  .ba-grid:after{
    background-image: radial-gradient(var(--dot-color) 1px, transparent 1px);
    background-size: var(--point-gap-width) var(--point-gap-height);
    background-position: calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2);
  }
  
  
  
  .inner:before,
  .inner:after{
    background-image: radial-gradient(var(--dot-color) var(--dot-size), transparent var(--dot-size));
    background-size: var(--point-gap-width) var(--point-gap-height);
    background-position: calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2);  
  
  }
  
  .inner:after{
    
    transform: scale(1.1, 1.1);
  }
  
  .inner:before{
  /*   background-image: radial-gradient(var(--dot-color) calc(var(--dot-size) + 1px), transparent calc(var(--dot-size) + 1px)); */
    transform: scale(1.2, 1.2);
  }
  
  .anim:after{
    animation: 6.4s linear move infinite;
  }
  
  .anim .inner:after{
    animation: 3.2s linear move infinite;
  }
  
  .anim .inner:before{
    animation: 1.6s linear move infinite;
  }
  
  @keyframes move{
    0%{
      background-position:calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2);
    }
    100%{
      background-position:calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2 * -1);
    }
  }





@font-face {
    font-family: 'Dune';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/Dune_Rise.otf'); /* IE9 Compat Modes */
  }

/* @font-face {
    font-family: 'KoHo';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/KoHo/KoHo-Regular.ttf');
} */

  /* @import url(//fonts.googleapis.com/css?family=KoHo); */

  @import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');

.main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* flex-grow: 1 auto 1; */
    align-items: center;
    height: 100vh;
    /* contain: content; */
    
}



.main-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 80px);
    align-items: center;
    justify-content: space-between;
    flex-grow: 25;
    padding: 3em 3em .5em;
    contain: content;
    
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 70px;
    padding-top: 10px;
    bottom: 0px;
    position: relative;
    border-top: 1px solid white
}

.header-container {
    background-color: cornflowerblue;
    top: 0  ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20%;
    gap: 40px;
    max-height: 80px;
}

.text {
    display: flex;
    padding: 10px;
    

}

.text > *:hover {
    color: yellow;
    cursor: pointer;
}

.state-field {
    text-transform: uppercase;
}

.progress-box{
    width: 100%;
}

.progress{
    flex-direction: row-reverse;
    height: 12px !important;
}

.progress > * {
    font-size: .4rem;
}

.covid-data-box {
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    /* padding: 10px 10px; */
}

.case-line {
    font-size: .5rem;
    text-align: right;
}


.covid-data-box p {
    margin: 2px;
    justify-items: left;
    font-size: .5rem;
}

.covid-widget {
    display:flex;
}

.risk-score {
    display: grid;
    margin: auto 4px;
    font-weight: bold;
    color: white;
    border-radius: 90px;
    background-color: green;
    width: 1.7vw;
    justify-content: center;
}

.header-background{
    width: 100%;    
}

.forecast {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    border-radius: 8px;
    align-items: center;
    /* top:7px; */
    padding: 20px;
    direction: ltr;
    /* flex-grow:2; */
}

.forecast > :first-child {
    display: flex;
}

.v-icon {
    position: static;
}

.covid-forecast {
    display: flex;
    background-color: green;
    

}

.closed {
    border-radius: 90px;
}

.open {
    gap: 10px;
    height: 70px;
}

.navs {
    flex-grow: 2;
    justify-content: center;
}

.navbar {
    font-family: "Dune";
    font-size: .7rem;
    align-self: center;
    /* border: 1px solid grey; */
    height: 60%;
    padding: 0px !important;
    border-radius: 10px;
    margin: auto 7px;
}

.nav-item{
    color:white;
    font-style: bold;
}

.dropdown-menu {
    max-height: 500px;
    overflow-y: scroll;
}

.dropdown-item {
    background-color: peru;
}

.dropdown-toggle {
    /* font-family: "Dune"; */
    color: white;
}

.warning-color-0 {
    background-color: green;

}

.warning-color-1 {
    background-color: yellow;
}

.warning-color-2 {
    background-color: orange;   
}

.warning-color-3 {
    background-color: orangered;
}

.warning-color-4 {
    background-color: firebrick;
}

.warning-color-5 {
    background-color: red;
}

.about-me {
    padding: 40px 100px;
    display: flex;
    flex-flow: column;
    
}

.picture-box{
    margin: 10px 60px;
    float: left;
}

.about-section {
    display: flex;
    text-align: justify;
    margin-bottom: 6rem;
}

.about-talk {
    display: flex;
    justify-content: flex-end;
    right:0px;
    margin: 5px 10px;
}

.tech-stack-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 50px 75px;
    /* max-height: 150px; */
}

.tech-stack-container>* {
    width: 90px;
    height:30px;
}

.chat-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 165px;
    max-width: 50%;
    margin: auto;
    /* margin-top: 5em; */
    bottom: 0px;    
}

.chat-stack>*{
    width:60px;
    margin: 3px;
}

.footer-text {
    display: flex;
    margin-left: 7ch;
}

.footer-text > * {
    margin: 3px;
}



.chat-window {
    min-height: 35vh;
}

.chatter {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #ecf6ff;
    /* max-height: 70%; */
    /* max-width: 40%; */
}

.input-field {
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    /* padding: 10px; */
}

.chat-container {
    min-height: 40%;
    display: flex;
    padding: 25px;
    /* flex-direction: column; */
    /* width: 70%; */
    justify-content: center;    /* height: 80%; */
    /* border-radius: 5px; */
    /* flex-grow: 2; */
}

.chat-desc {
    background-color: #ecf6ff;
    align-self: center;
    color: #0E297A;
    margin: 40px;
    display: grid;
    justify-items: center;
    width: 50%;
}

.inputs {
    display: flex;
    width:100%;
    justify-content: center;
}

.input-field input {
    width: 50%;
    align-self: center;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}

.input-field button {
    width: 20%;
    color: white;
    border-radius: 5px;
    align-self: center;
    background-color: #0E297A;
    margin: 4px;
    /* box-shadow: 1px 1px 5px black; */
}

.gif-message {
    border: 1px solid #0E297A;
    border-radius: 20px;
    background-color: gray;
    padding: 5px;
    margin: 7px;
    max-width: 150px;
}

.chat-window {
    max-height: 60%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    padding: 20px 15%;
    align-items: center;
    flex-grow: 2;
    background-color: #ecf6ff;

}

.gif-result {
    cursor:pointer;
    /* height: 80px;
    margin: 3px; */
    width: 6vw;
    height: 10vh;
    margin: .7vw;
}

.gif-array {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 110px;
    flex-grow: 2;
}



.project-container {
    display: flex;
    width: 80%;
    min-height:60vh;
    justify-content: center;
    align-items: stretch;
    margin: auto;
}

.prototype-link>*:hover {
    /* box-shadow: 5px 5px 5px black;
    color: black; */
}

.carousel {
    margin: 10px !important;
}

.project-pics-containter {
    display: flex;
    margin: 3px;
}

.pic-containter {
    margin: 3px;
}

.carousel-inner {
    display: grid;
    justify-content: center;
}

.pic-carousel-pic {
    max-width: 400px;
    max-height: 200px;
}

.project-container > * {
    transition: all .5s ease;
}

.project-info-info {
    display: flex;
    max-width: 85%;
}

.project-info-info-in {
    padding: 10px;
}

.highlighted{
    box-shadow: 5px 5px 5px yellow;
}

.project-info-desc{
    color: white;
}

.p1-inner {
    background-color: green;
    left: 0;
}

.tracker-container {
    display: grid;
    justify-items: center;
}

.tracker-inner {
    background-color: red;
    right: 0;
}
.project-inner {
    /* height: 100%; */
    align-content: center;
    display: grid;
    justify-items: center;
    flex: 0 1 60px;
    /* padding: 2rem; */
}

.chat-inner{
    /* background-color: linear-gradient(to right bottom, #0E297A, #21134E); */
    background-color: #21134E;
    justify-content: center;
}


.selected {
    transition: all .5s ease-in-out;
    flex-grow: 5;
    padding: 2em;
}

.chat-title {
    color: white;
    /* font-family: "KoHo, sans-serif"; */
    font-weight: 400;
    letter-spacing: 5px;
    justify-self: center;
    font-size: 1.8vw;
    white-space: nowrap
}

.chat-title:hover {
    color: yellow;
    font-size: 2.1rem;
}

.gifsms-link:hover {
    color: rgb(247, 247, 81)!important;
    /* font-size: 1.05rem; */
}

.title-unselected {
    transition: all .5s ease-in-out;
    transform: rotate(-90deg);
    width: 140px;
  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.no-grow:hover {

}