


@font-face {
    font-family: 'Dune';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/Dune_Rise.otf'); /* IE9 Compat Modes */
    
  }

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1 auto 1;
    align-items: center;
    height: 100vh;
}



.main-box {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-grow: 25;
}

.footer-container {
    border: 1px solid red;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    max-height: 100px;
    margin-bottom: 5px;
    padding-bottom: 5px;

}

.header-container {
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20%;
    gap: 40px;
}

.text {
    display: flex;
    border: 1px solid red;
    padding: 10px;
    

}

.text > *:hover {
    color: yellow;
    cursor: pointer;
}

.state-field {
    text-transform: uppercase;
}

.progress-box{
    width: 90%;
    /* height: 2.5rem; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.progress{
    flex-direction: row-reverse;
}

/* .progress:hover{
    visuallyHidden: false;
} */

.covid-data-box {
    border-radius: 4px;
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    width: 17em;
    /* padding: 10px 10px; */
}



.covid-data-box p {
    margin: 2px;
    justify-items: left;
}

.case-line {

}

.v-icon {
    /* width: 2em;
    height: 2em; */
}

.header-background{
    width: 100%;    
}

.forecast {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    border-radius: 8px;
    top:7px;
    padding: 20px;
    direction: ltr;
    /* flex-grow:2; */
}

.covid-forecast {
    display: flex;
    /* border: 3px solid grey; */
    background-color: green;
    /* flex-direction: column;
    align-items: flex-end; */

}

.closed {
    border-radius: 90px;
}

.open {
    /* border-radius: 10px; */
    /* margin-top: 1px; */
    gap: 20px;
    /* white-space: normal; */

}

.navs {
    flex-grow: 2;
    justify-content: center;
}

.navbar {
    font-family: "Dune";
    justify-items: right;
    color: white;
}

.nav-item{
    color:white;
    font-style: bold;
}

.forecast svg {

}

.dropdown-menu {
    max-height: 500px;
    overflow-y: scroll;
}

.dropdown-toggle {
    /* font-family: "Dune"; */
    color: white;
}

.warning-color-0 {
    background-color: green;

}

.warning-color-1 {
    background-color: yellow;
}

.warning-color-2 {
    background-color: orange;   
}

.warning-color-3 {
    background-color: orangered;
}

.warning-color-4 {
    background-color: firebrick;
}

.warning-color-5 {
    background-color: red;
}

.about-me {
    width: 90%;
    border: 1px solid green;
    height: 40vh;
}

.picture-box{
    margin: 10px 40px;
    flex: 2;
    justify-self: flex-start;
    width: 100%;
}

.about-talk {
    display: flex;
    justify-content: flex-end;
    right:0px;
    margin: 5px 10px;
}

.footer-text {
    display: grid;
}

.footer-container p {
    font-size: .6em;
    font-weight: bold;
    margin: 3px;
    margin-left: 0px;
}

.chat-window {
    border: 1px solid blue;

}

.input-field {

}

.chat-container {
    min-height: 3rem;
    display: flex;
    flex-direction: column;
    max-width: 60ch;
   
}

.gif-message {
    border: 1px solid grey;
    border-radius: 20px;
    background-color: gray;
    padding: 5px;
    margin: 7px;
    /* max-width: 200px; */
}

.chat-window {
    min-height: 4rem;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    padding: 20px 20%;
    align-items: center;
}

.gif-result {
    cursor: pointer;
    height: 110px;
    margin: 5px;
}

.gif-array {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 110px;

}