


@font-face {
    font-family: 'Dune';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/Dune_Rise.otf'); /* IE9 Compat Modes */
  }

/* @font-face {
    font-family: 'KoHo';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/KoHo/KoHo-Regular.ttf');
} */

  /* @import url(//fonts.googleapis.com/css?family=KoHo); */

  @import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1 auto 1;
    align-items: center;
    height: 100vh;
}



.main-box {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-grow: 25;
}

.footer-container {
    border: 1px solid red;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    max-height: 100px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    bottom: 0;
}

.header-container {
    background-color: cornflowerblue;
    top: 0  ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20%;
    gap: 40px;
    max-height: 80px;
}

.text {
    display: flex;
    border: 1px solid red;
    padding: 10px;
    

}

.text > *:hover {
    color: yellow;
    cursor: pointer;
}

.state-field {
    text-transform: uppercase;
}

.progress-box{
    width: 90%;
    /* height: 2.5rem; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.progress{
    flex-direction: row-reverse;
}

/* .progress:hover{
    visuallyHidden: false;
} */

.covid-data-box {
    border-radius: 4px;
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    width: 17em;
    /* padding: 10px 10px; */
}



.covid-data-box p {
    margin: 2px;
    justify-items: left;
}

.case-line {

}

.v-icon {
    /* width: 2em;
    height: 2em; */
}

.header-background{
    width: 100%;    
}

.forecast {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    border-radius: 8px;
    top:7px;
    padding: 20px;
    direction: ltr;
    /* flex-grow:2; */
}

.covid-forecast {
    display: flex;
    /* border: 3px solid grey; */
    background-color: green;
    /* flex-shrink: 1.5; */
    /* flex-direction: column;
    align-items: flex-end; */

}

.closed {
    border-radius: 90px;
}

.open {
    /* border-radius: 10px; */
    /* margin-top: 1px; */
    gap: 20px;
    /* white-space: normal; */

}

.navs {
    flex-grow: 2;
    justify-content: center;
}

.navbar {
    font-family: "Dune";
    justify-items: right;
    color: white;
}

.nav-item{
    color:white;
    font-style: bold;
}

.forecast svg {

}

.dropdown-menu {
    max-height: 500px;
    overflow-y: scroll;
}

.dropdown-toggle {
    /* font-family: "Dune"; */
    color: white;
}

.warning-color-0 {
    background-color: green;

}

.warning-color-1 {
    background-color: yellow;
}

.warning-color-2 {
    background-color: orange;   
}

.warning-color-3 {
    background-color: orangered;
}

.warning-color-4 {
    background-color: firebrick;
}

.warning-color-5 {
    background-color: red;
}

.about-me {
    width: 85%;
    padding: 20px;
    overflow-x: scroll;
    display: flex;
    flex-flow: column;
}

.picture-box{
    margin: 10px 40px;
    flex: 2;
    justify-self: flex-start;
    width: 100%;
}

.about-talk {
    display: flex;
    justify-content: flex-end;
    right:0px;
    margin: 5px 10px;
}

.footer-text {
    display: grid;
}

.footer-container p {
    font-size: .6em;
    font-weight: bold;
    margin: 3px;
    margin-left: 0px;
}

.chat-window {
    border: 1px solid blue;

}

.chatter {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #ecf6ff;
    max-height: 70%;
}

.input-field {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 10px;
}

.chat-container {
    min-height: 40%;
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-items: center;
    height: 80%;
    border-radius: 5px;
    flex-grow: 2;
}

.chat-desc {
    background-color: #ecf6ff;
    color: #0E297A;
    margin-top: 50px;
}

.input-field input {
    width: 60%;
    align-self: center;
}

.input-field button {
    width: 30%;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    align-self: center;
    background-color: #0E297A;
    box-shadow: 1px 1px 5px #0E297A;
}

.gif-message {
    border: 1px solid #0E297A;
    border-radius: 20px;
    background-color: gray;
    padding: 5px;
    margin: 7px;
    max-width: 150px;
}

.chat-window {
    max-height: 60%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    padding: 20px 15%;
    align-items: center;
    flex-grow: 2;
    background-color: #ecf6ff;

}

.gif-result {
    cursor: pointer;
    height: 80px;
    margin: 3px;
}

.gif-array {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 110px;
    flex-grow: 2;
}

.project-container {
    display: flex;
    width: 80%;
    height:100%;
    border: 1px solid orange;
    justify-content: center;
    align-items: stretch;
}

.project-container > * {
    transition: all .5s ease;
}

.p1-inner {
    background-color: green;
    left: 0;
}

.p2-inner {
    background-color: red;
    right: 0;
}
.project-inner {
    /* height: 100%; */
    border: 1px solid black;
    align-content: center;
    display: grid;
    justify-items: center;
    flex: 0 1 60px;
}

.chat-inner{
    /* background-color: linear-gradient(to right bottom, #0E297A, #21134E); */
    background-color: #21134E;
    justify-content: center;
}


.selected {
    transition: all .5s ease-in-out;
    flex-grow: 5;
    box-shadow: 5px 5px 4px green ;
}

.chat-title {
    color: white;
    /* font-family: "KoHo, sans-serif"; */
    font-weight: 400;
    letter-spacing: 5px;
    justify-self: center;
    font-size: 2rem;
    white-space: nowrap
}

.chat-title:hover {
    color: yellow;
    font-size: 2.1rem;
}

.gifsms-link:hover {
    color: rgb(247, 247, 81)!important;
    /* font-size: 1.05rem; */
}

.title-unselected {
    transition: all .5s ease-in-out;
    transform: rotate(-90deg);
    width: 140px;
  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}